<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>boss_zhanshi_1/10211141_10009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,546},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,819},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10029.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1092},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10030.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1365},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10031.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1638},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10032.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10073.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10074.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,0},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10075.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,0},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10076.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,0},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10077.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,0},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10078.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,273},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10079.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,546},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10080.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,819},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10081.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1092},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10082.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1365},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10083.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,1638},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10084.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,273},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10085.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,273},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10086.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,273},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10087.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,273},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10088.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,273},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10147.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,546},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10148.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,819},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10149.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1092},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10150.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1365},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10151.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,1638},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10152.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,546},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10153.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,546},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10154.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,546},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10155.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,546},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10156.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,819},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10157.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1092},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10158.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1365},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10159.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1638},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10194.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,819},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10195.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,819},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10196.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,819},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10197.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1092},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10206.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1365},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10207.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1638},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10208.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1092},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10212.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,1092},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10214.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1365},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10216.png</key>
			<dict>
				<key>frame</key>
				<string>{{1365,1638},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10218.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,1365},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
			<key>boss_zhanshi_1/10211141_10220.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,1638},{273,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{273,273}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>BossZhanShi1.png</string>
			<key>realTextureFileName</key>
			<string>BossZhanShi1.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>